@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --mobile: 768px;
}

*, html, body {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background: #fafafa;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding: 0 2em;
}

.header a {
  text-decoration: none;
  color: #333;
}

.header i {
  font-size: 2em;
}

.header img {
  width: 15em;
  height: auto;
}

.friends {
  padding-top: 6em;
}

.friends__list {
  display: flex;
  padding: 2em;
  align-items: center;
}

.friends__item img {
  border-radius: 50%;
  width: 7em;
  height: auto;
  margin-right: 1em;
}

.friends__item.active img {
  padding: 1px;
  border: 2px solid #cd4b88;
}

.posts {
  padding: 1em 2em;
}

.post {
  border-radius: 10px;
  border: 2px solid #ebebeb;
  width: 100%;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.post__header h2, .post__header i {
  color: #333;
  font-size: 1.5em;
}

.post__profile {
  display: flex;
  align-items: center;
}

.post__profile img {
  border-radius: 50%;
  width: 4em;
  margin-right: 1em;
}

.post__picture img {
  width: 100%;
}

.post__actions {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__actions i {
  transition: 0.3s;
  font-size: 2.5em;
  cursor: pointer;
}

.actions__like {
  margin-right: 1em;
}

.actions__like:hover {
  color: red;
}

@media screen and (min-width: 768px) {
  .header, .friends, .posts {
    padding: 0 25vw;
  }

  .friends {
    padding: 6em 25vw 1em;
  }
}
